<div ng-controller="HomeController">
    <div ng-show="isAdmin() || isRegular()">
      <button type="button" class="btn btn-primary" ng-show="isAdmin()">Agregar Trabajo</button>
      <table class="table">
        <tr>
          <th>
            Cuenta
          </th>
          <th>
            Nombre
          </th>
        </tr>
        <tr ng-repeat="student in students">
          <td>
            {{student.account}}
          </td>
          <td>
            {{student.name}}
          </td>
        </tr>
      </table>
    </div>
</div>
